add     BITMAP add24_h.bmp
add_2   BITMAP add224_h.bmp
add_s   BITMAP add16_h.bmp
add2    BITMAP add_to_list24_h.bmp
add_3   BITMAP add324_h.bmp
no      BITMAP cross24_h.bmp
no_s    BITMAP cross16_h.bmp
delete  BITMAP delete24_h.bmp
down    BITMAP download_ascii24_h.bmp
down2   BITMAP download_auto24_h.bmp
edit    BITMAP edit24_h.bmp
exit    BITMAP exit24_h.bmp
filter  BITMAP filter_green24_h.bmp
filter2 BITMAP filter_red24_h.bmp
minus   BITMAP minus24_h.bmp
minus_s BITMAP minus16_h.bmp
view    BITMAP news_find24_h.bmp
plus    BITMAP plus24_h.bmp
plus_s  BITMAP plus16_h.bmp
select2 BITMAP properties24_h.bmp
refresh BITMAP refresh24_h.bmp
delete2 BITMAP remove_from_list24_h.bmp
search  BITMAP search24_h.bmp
select3 BITMAP select24_h.bmp
select  BITMAP tick24_h.bmp
commit  BITMAP tick_all24_h.bmp
up      BITMAP upload_ascii24_h.bmp
up2     BITMAP upload_auto24_h.bmp
options BITMAP window_options24_h.bmp
people  BITMAP people24_h.bmp
contact BITMAP mail_send_receive24a_h.bmp
calendar_s BITMAP calendar16_h.bmp
edit_s  BITMAP edit16_h.bmp
dropdown_s BITMAP dropdown_small.bmp
money   BITMAP money24_h.bmp
go24_h BITMAP go24_h.bmp
list_s BITMAP select16_h.bmp
mark24_h BITMAP mark24_h.bmp
copy24_h BITMAP	copy24_h.bmp